.container {
    margin: 2.5% 5% 10%;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 20px;

    .search {
        display: flex;
        align-items: center;
        height: 40px;
        border: 1px solid lightgray;
        border-radius: 8px;
        width: 200px;
        font-size: 18px;
        padding-left: 10px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

        input {
            outline: none;
            border: none;
            padding-left: 10px;
        }
    }

    .filter {
        display: flex;
        align-items: center;
        border: 1px solid lightgrey;
        font-size: 18px;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
        width: 200px;
        height: 40px;
        cursor: pointer;

        select {
            outline: none;
            border: none;
            cursor: pointer;
            padding: 10px 0px;
            text-align: center;
        }
    }
}

.job-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

    h2 {
        margin: 5px 0px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .segment-one {
        display: flex;
        gap: 20px;

        p {
            background-color: orange;
            color: white;
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
        }

        span {
            background-color: rgb(6, 65, 6);
            color: white;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }

    .segment-two {
        display: flex;
        gap: 40px;

        span {
            margin-left: 5px;
        }
    }
}

.single-job-container {
    border: 1px solid lightgray;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgb(6, 65, 6);
        padding: 10px;
        color: white;
        border-radius: 4px;

        .segment-three {
            display: flex;
            gap: 20px;

            p {
                background-color: orange;
                color: white;
                padding: 4px 8px;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 500;
            }

            span {
                background-color: white;
                color: rgb(6, 65, 6);
                padding: 4px 8px;
                border-radius: 4px;
            }
        }

        .segment-four {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                margin-left: 5px;
            }
        }
    }

    .desc {
        padding: 10px;
        margin-bottom: 10px;

        h2 {
            margin: 10px 0px;
        }

        p {
            line-height: 30px;
        }
    }

    button {
        padding: 10px 16px;
        margin-top: 10px;
        border-radius: 8px;
        outline: none;
        border: none;
        background-color: rgb(6, 65, 6);
        cursor: pointer;
        color: white;

        &:disabled {
            cursor: not-allowed;
        }
    }
}

.aply-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    form {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        border: 1px solid lightgray;
        padding: 20px;
        border-radius: 8px;
        background-color: rgb(6, 65, 6);
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

        span {
            width: 300px;
            color: white;
            font-size: 12px;
        }

        label {
            padding-left: 5px;
            margin: 10px 0px 5px;
            color: white;
        }

        input {
            width: 300px;
            height: 35px;
            padding-left: 10px;
            border: 1px solid black;
            border-radius: 8px;
        }

        button {
            margin: 20px 0px 5px;
            padding: 8px 16px;
            border-radius: 8px;
            color: rgb(6, 65, 6);
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}

.offscreen {
    position: absolute;
    right: 1000px;
}

.errmsg {
    padding: 10px;
    color: red;
    background-color: rgb(218, 112, 112);
    margin: 10px 0px 0px;
    border-radius: 8px;
    width: 300px;
}

.popUp-container {
    display: flex;
    border: 1px solid rgb(241, 93, 93);
    width: 450px;
    text-align: center;
    background-color: lightcoral;
    position: absolute;
    right: 7rem;
    top: 8rem;
    flex-direction: column;

    .notes {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 20px 20px 5px;
    }

    svg {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 2px;
        color: red;
        margin-right: 10px;
        font-size: 18px;
    }
}

@media screen and (max-width:890px) {
    .popup-jobs {
        display: none;
    }
}

@media screen and (max-width:650px) {

    .job-container {
        h2 {
            font-size: 20px;
        }

        .segment-one {
            p {
                font-size: 12px;
                padding-top: 6px;
            }

            span {
                font-size: 12px;
                padding-top: 6px;
            }
        }

        .segment-two {
            div {
                overflow: hidden;
            }

            span {
                font-size: 14px;
            }
        }
    }

    .filter-container {
        .search {
            width: 160px;

            input {
                width: 120px;
            }
        }

        .filter {
            width: 160px;

            select {
                width: 120px;
            }
        }
    }
}