.mainContainer {
    margin: 5%;
}

.jobContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.jobContainer h2 {
    margin: 5px 0px;
}

.jobContainer a {
    text-decoration: none;
    color: black;
}

.firstSegment {
    display: flex;
    gap: 20px;
}

.firstSegment p {
    background-color: orange;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.firstSegment span {
    background-color: rgb(6, 65, 6);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.secondSegment {
    display: flex;
    gap: 40px;
}

.secondSegment span {
    margin-left: 5px;
}

.singleJob {
    border: 1px solid lightgray;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(6, 65, 6);
    padding: 10px;
    color: white;
    border-radius: 4px;
}

.segmentOne {
    display: flex;
    gap: 20px;
}

.segmentOne p {
    background-color: orange;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.segmentOne span {
    background-color: white;
    color: rgb(6, 65, 6);
    padding: 4px 8px;
    border-radius: 4px;
}

.segmenTwo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.segmenTwo span {
    margin-left: 5px;
}

.desc {
    padding: 10px;
    margin-bottom: 10px;
}

.desc h2 {
    margin: 10px 0px;
}

.desc p {
    line-height: 30px;
}

.singleJob button {
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(6, 65, 6);
    cursor: pointer;
    color: white;
}

.button a {
    text-decoration: none;
}

.aplyContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aplyContainer form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(6, 65, 6);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.aplyContainer input {
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.aplyContainer label {
    padding-left: 5px;
    margin: 10px 0px 5px;
    color: white;
}

.aplyContainer button {
    margin: 20px 0px 5px;
    padding: 8px 16px;
    border-radius: 8px;
    color: rgb(6, 65, 6);
    outline: none;
    border: none;
    cursor: pointer;
}

.aplyContainer span {
    width: 300px;
    color: white;
    font-size: 12px;
}

.offscreen {
    position: absolute;
    right: 1000px;
}

.errmsg {
    padding: 10px;
    color: red;
    background-color: rgb(218, 112, 112);
    margin: 10px 0px 0px;
    border-radius: 8px;
    width: 300px;
}