.mainContainer {
    display: flex;
    margin: 5% 10%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text h1 {
    font-size: 4rem;
}

.text span {
    line-height: 2rem;
    font-size: 1.2rem;
}

.text form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

.text form span {
    font-size: 1rem;
}

.text input {
    border: 1px solid lightgray;
    padding: 10px 20px;
}

.text button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: rgb(7, 48, 7);
    color: white;
    cursor: pointer;
}

.text .findLink {
    color: rgb(7, 48, 7);
    font-weight: 700;
}

.popupContainer {
    display: flex;
    border: 1px solid green;
    width: 500px;
    text-align: center;
    background-color: lightgreen;
    position: absolute;
    right: 5rem;
    top: 7rem;
    flex-direction: column;
}

.note {
    display: flex;
    margin-bottom: 10px;
    padding: 20px 20px 5px;
}

.popupContainer svg {
    border-radius: 50%;
    border: 2px solid green;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    font-size: 18px;
}

.progressBar {
    position: relative;
    overflow: hidden;
    width: 499px;
    height: 5px;
    background-color: lightgreen;
    border-left: 1px solid green;
    border-right: 1px solid green;
}

@media screen and (max-width:1200px) {
    .text h1 {
        font-size: 3rem;
    }

    .text span {
        font-size: 1rem;
    }
}

@media screen and (max-width:890px) {
    .mainContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .image img {
        width: 300px;
    }

    .popupContainer {
        right: 1rem;
        width: 300px;
    }

    .popupContainer svg {
        width: 50px;
        text-align: center;
        height: 30px;
    }

    .note {
        align-items: center;
    }

    .progressBar {
        width: 299px;
    }
}