.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 1.5rem;
    height: 60px;
    background-color: rgb(242, 238, 238);
    box-shadow: 5px 0px 10px #ccc;
}

.headerContainer .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(6, 65, 6);
    text-decoration: none;
    margin-left: 5rem;
}

.headerContainer svg {
    font-size: 1.5rem;
}

.headerContainer h2 {
    padding-left: 5px;
}

.headerContainer .links {
    display: flex;
    gap: 30px;
    margin-right: 5rem;
}

.links li {
    list-style: none;
}

.links .postLink {
    text-decoration: none;
    color: white;
    background-color: rgb(6, 65, 6);
    padding: 8px 20px;
}

.links .findLink {
    text-decoration: none;
    color: rgb(6, 65, 6);
    font-weight: 700;
}

.menuItem {
    display: none;
}

.close {
    display: none;
}

@media screen and (max-width:768px) {
    .menuItem {
        display: block;
        transform: translate(0%, 10%);
        cursor: pointer;
        color: rgb(6, 65, 6);
    }

    .links {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(30%, 7.5%);
        background-color: rgb(242, 238, 238);
        display: flex;
        align-items: center;
        font-size: 20px;
        flex-direction: column;
        width: 300px;
        height: 100vh;
        transition: 0.5s ease;
        z-index: 999;
    }

    .close {
        display: block;
        transform: translate(5%, 10%);
        cursor: pointer;
        color: rgb(6, 65, 6);
    }

    .links li {
        margin-top: 50px;
    }


    .closed {
        right: 100%;
        transition: 0.5s ease;
    }
}