.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.mainContainer form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid lightgray;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(6, 65, 6);
    color: white;
    padding: 25px;
}

.mainContainer h1 {
    margin-bottom: 10px;
}

.mainContainer label {
    padding: 5px 0px;
}

.firstSegment {
    display: flex;
    gap: 20px;
}


.firstSegment div {
    display: flex;
    flex-direction: column;
}

.firstSegment input {
    width: 115px;
    height: 40px;
    border: 1px solid lightgrey;
    padding-left: 10px;
}

.firstSegment select {
    width: 250px;
    height: 40px;
    border: 1px solid lightgray;
    padding-left: 10px;
}

.secondSegment {
    display: flex;
    flex-direction: column;
}

.secondSegment input {
    width: 520px;
    height: 40px;
    border: 1px solid lightgray;
    padding-left: 10px;
}

.secondSegment textarea {
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}

.mainContainer button {
    margin: 15px 0px 0px;
    padding: 10px 16px;
    border-radius: 8px;
    width: 150px;
    font-size: 16px;
    color: rgb(6, 65, 6);
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {

    .mainContainer {
        overflow: auto;
        height: 600px;
    }

    .mainContainer::-webkit-scrollbar {
        display: none;
    }

    .mainContainer form {
        align-items: center;
    }

    .firstSegment {
        flex-direction: column;
        gap: 0;
    }

    .firstSegment input {
        width: 520px;
    }

    .firstSegment select {
        width: 520px;
    }

}

@media screen and (max-width:620px) {
    .mainContainer {
        width: 350px;
    }

    .firstSegment input {
        width: 300px;
    }

    .firstSegment select {
        width: 300px;
    }

    .secondSegment input {
        width: 300px;
    }

    .secondSegment textarea {
        width: 300px;
    }
}